.daytime {
    font-size: 36px;
    text-align: center;
}
.more{
    color: #00ff00 !important;
}
.less{
    color: #ff0000 !important;
}
.warn{
    color: #0000ff !important;
}
.calendar-container{
	width:70%;
}
.dayschedule{
	width:100%;
	border-collapse:collapse;
}
.daylink {
    text-decoration:none;
    outline: none;
}

.hour-odd{
	background-color:#F6F7F8;
}
.hour-even{
	background-color:#FFFFFF;
}
.hour-highlight{
	background-color:#FCFD8D;
}
.hour-entry{

}
.hour-entry :hover{
	background-color:#FCFD8D;
}